org.eclipse.xtext.ide.server.ServerLauncher-debug.log
api_descriptor.pb
compile_commands.json
**/build
**/.vscode/*.json
**/keystore
**/KeyStore
**/KeyStore*
**/CV2X_R*
**/mobis*.tar.gz
**/mobis/penta
*.swp
**/cmake/cmake_*.sh
**/avs/gbench/bm_*
**/setup/mobis
**/plantuml-gen
**/.clangd
**/platformservice/zmqtestjava/target
**/.gradle
**/java/client/bin
**/__pycache__